// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'OfficinaSanItct',sans-serif;} // font header
.fi {font-family: 'zazdravemesto-fonts',sans-serif;} // font icon

// body
@bb: #e6e6e6; // body background

// colors
@cp: #474747; // color primary
@ch: #016792; // color header
@cl: #409235; // color link

// font sizes
@fsp: 19px; // font size primary
@fsh1: 35px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 0 20px;