#page-header{
	position: relative;
	.homepage &{
		height: 493px;
		background: #2472c9 url(../images/bg/01.jpg) no-repeat top;
		&:before{
			position: absolute;
			z-index: 1;
			left: 50%;
			top: 103px;
			margin-left: 316px;
			content: url(../images/bg/02.png);
		}
	}
	.header-top{
		overflow: hidden;
	}
	.logo{
		width: 200px;
		float: left;
		a{
			display: block;
			height: 172px;
			text-indent: -9999px;
			background: #fff url(../images/logo/01.png) no-repeat 50% 50%;
		}
	}
	.slogan{
		.fh;
		position: relative;
		padding: 60px 480px 0 60px;
		font-size: 39px;
		line-height: 1.25;
		color: #fff;
		font-style: italic;
		&:before{
			position: absolute;
			top: 70px;
			left: -5px;
			content: url(../images/bg/03.png)
		}
		p{
			margin: 0;
		}
	}
}
#home-main{
	padding: 30px 0;
	background: #fff;
}
#content{
	position: relative;
	margin: 80px 0;
	padding: 50px 70px;
	background: #fff;
}
#page-footer{
	background: #e6e6e6;
	.inner{
		.clearfix;
		position: relative;
		margin: 56px 0;
		border-top: 1px solid #b8cdd5;
		&:before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 1px;
			background: #fff;
		}
		.copy{
			margin: 16px 0;
			float: left;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}
		.xart{
			float: right;
			font-size: 11px;
			font-weight: 400;
			text-transform: uppercase;
			margin: 37px 0;
			img{
				float: right;
				margin: 0 0 0 10px;
			}
			a{
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -60px;
		right: 20px;
		height: 60px;
		width: 60px;
		text-indent: -9999px;
		line-height: 60px;
		text-align: center;
		background: @ch;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e807';
			font-size: 20px;
		}
		&:hover{
			background: darken(@ch,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}