.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			font-size: 14px;
			margin-right: 10px;
			&:before{
				top: 5px;
				color: lighten(@cp,50%)
			}
			a{
				color: lighten(@cp,30%)
			}
		}
	}
}
.mod_menu-main{
	position: relative;
	float: left;
	width: 720px;
	&:before{
		position: absolute;
		content: '';
		right: 100%;
		top: 67px;
		height: 80px;
		width: 999em;
		margin-right: 202px;
		background: fade(#fff,60%);
	}
	&:after{
		position: absolute;
		content: '';
		left: 100%;
		top: 67px;
		height: 80px;
		width: 999em;
		margin-left: 2px;
		background: fade(#fff,60%);
	}
	ul{
		.rul;
		padding: 67px 0 0;
		li{
			.rli;
			float: left;
			padding: 0 0 2px 2px;
			&.item-01{min-width: 180px;}
			&.item-02{min-width: 170px;}
			&.item-03{min-width: 215px;}
			&.item-04{min-width: 155px;}
			a{
				.fh;
				position: relative;
				display: block;
				padding: 20px 27px 10px;
				min-height: 80px;
				text-decoration: none;
				color: @ch;
				font-size: 22px;
				line-height: 1.1;
				background: #fff;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 0;
					bottom: 0;
					height: 8px;
					width: 0;
					background: @ch;
				}
				&:hover:before{
					width: 100%;
				}
				small{
					.fp;
					font-size: 16px;
					display: block;
					font-style: italic;
				}
			}
			&.act{
				a:before{
					width: 100%;
					background: #f8a814;
				}
			}
		}
	}
}
.mod_custom-qoute{
	width: 370px;
	float: left;
	margin: 0 0 60px;
	figure{
		margin: -100px 0 37px;
	}
	.qoute{
		font-size: 22px;
		font-style: italic;
		color: @ch;
		line-height: 1.25;
		margin: 0 0 22px;
		p{
			margin: 0 0 20px;
		}
	}
	.author{
		.fh;
		font-size: 22px;
		line-height: 1.2;
		color: @ch;
		small{
			.fp;
			display: block;
			font-size: 18px;
			color: @cp;
		}
	}
}
.mod_custom-label{
	position: absolute;
	bottom: -77px;
	right: 37px;
	width: 162px;
	height: 150px;
	padding: 0 12px 0 0;
	text-transform: uppercase;
	font-size: 112px;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	color: @ch;
	background: url(../images/bg/04.png) no-repeat;
	#content &{
		bottom: auto;
		top: -74px;
	}
	small{
		.fh;
		margin: 23px 0 -18px;
		display: block;
		font-size: 22px;
		font-weight: 300;
		text-transform: uppercase;
	}
}
.mod-custom-podporujeme{
	float: right;
	width: 485px;
	padding: 30px 0 0;
	margin: 0 0 60px;
	.mod-title{
		.fh;
		color: @ch;
		font-size: 35px;
		line-height: 1;
		margin: 0 0 30px;
	}
	ul{
		.rul;
		li{
			font-size: 19px;
			line-height: 1.15;
			margin: 20px 0;
			padding: 0 0 0 50px;
			&:before{
				.fi;
				content: '\e800';
				font-size: 34px;
				top: -6px;
				color: #bfbfbf;
			}
		}
	}
	nav{
		margin: 27px 0 0;
		font-weight: 400;
		font-size: 18px;
		a{
			position: relative;
			display: inline-block;
			padding: 0 0 0 50px;
			&:before{
				.fi;
				position: absolute;
				content: '\e801';
				left: 0;
				font-size: 34px;
				top: -8px;
				color: @cl;
			}
		}
	}
}
.mod_custom-kandidati{
	.box-shadow(inset 0 1px 6px fade(#000,10%));
	position: relative;
	padding: 42px 0 0;
	background: #e4ecf5;
	.inner{
		position: relative;
		overflow: hidden;
	}
	.items{
		margin: auto;
		&:before,&:after{
			position: absolute;
			z-index: 999;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 1px;
			background: #e4ecf5;
		}
		&:after{
			left: auto;
			right: 0;
		}
		.cycle-carousel-wrap{
			width: 9999em;
			white-space: nowrap;
		}
		.item{
			float: left;
			width: 200px;
			height: 195px;
			overflow: visible;
			padding: 0 20px;
			margin: 0 0 52px;
			border-left: 1px solid #fff;
			border-right: 1px solid #b7d1e1;
			figure{
				.border-radius(50%);
				margin: 0 auto 20px;
				width: 134px;
				height: 134px;
				overflow: hidden;
				img{
					display: block;
					margin: auto;
				}
			}
			h2{
				font-size: 18px;
				line-height: 1.2;
				color: @ch;
				margin: 0;
				small{
					display: block;
					.fp;
					color: @cp;
				}
			}
		}
	}
	.prev,.next{
		.border-radius(50%);
		.box-shadow(0 0 10px fade(#000,5%));
		position: absolute;
		z-index: 999;
		left: -40px;
		top: 62px;
		height: 80px;
		line-height: 80px;
		padding: 0 12px;
		width: 80px;
		background: #fff;
		font-size: 22px;
		color: #bfbfbf;
		&:hover{
			color: @ch;
		}
		&:before{
			.fi;
			content: '\e808';
			float: right;
		}
	}
	.next{
		left: auto;
		right: -40px;
		&:before{
			.fi;
			float: left;
			content: '\e806';
		}
	}
	nav{
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 100%;
		a{
			.border-radius(30px);
			.box-shadow(inset 0 0 6px fade(#000,10%));
			position: relative;
			height: 60px;
			line-height: 60px;
			padding: 0 30px;
			display: inline-block;
			font-weight: 400;
			font-size: 18px;
			background: #e4ecf5;
			&:before{
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 30px;
				width: 100%;
				background: #e4ecf5;
			}
			span{
				position: relative;
				z-index: 1;
				display: inline-block;
				text-decoration: underline;
				&:before{
					.fi;
					position: relative;
					z-index: 1;
					content: '\e801';
					color: @cl;
					float: left;
					font-size: 34px;
					margin: 0 15px 0 0;
				}
			}
			&:hover{
				span{
					text-decoration: none;
				}
			}
		}
	}
}
.mod_custom-volby{
	.fh;
	padding: 62px 0 35px;
	color: #fff;
	font-size: 39px;
	line-height: 1;
	background: #2472c9;
	.container{
		text-align: center;
	}
	.content{
		.col-8;
		padding: 0;
		text-align: left;
	}
	.label{
		position: relative;
		.col-4;
		padding: 0 0 0 118px;
		text-align: left;
		&:before,&:after{
			position: absolute;
			content: '';
			left: 44px;
			top: 50%;
			margin-top: -43px;
			border: 43px solid  transparent;
			border-left-width: 26px;
			border-right-width: 0;
			border-left-color: #fff;
		}
		&:after{
			left: 43px;
			border-left-color: #2472c9;
		}
		mark{
			.fp;
			position: relative;
			top: 20px;
			color: #fff;
			font-size: 112px;
			font-weight: 900;
			display: inline-block;
			margin: -100px 0;
		}
	}
}
.mod_newsflash_xart{
	.box-shadow(inset 0 0 6px fade(#000,30%));
	position: relative;
	padding: 65px 0 0;
	background: #fff;
	.mod-title{
		.fh;
		font-size: 35px;
		line-height: 1;
		font-weight: 400;
		color: @ch;
		margin: 0 0 46px;
	}
	section{
		.row;
		margin: 0 -20px;
		article{
			.col-4;
			padding: 0 20px 65px;
			line-height: 1.2;
			.header{
				.clearfix;
				figure{
					img{
						float: left;
						margin: 0 20px 0 0;
					}
				}
				h2{
					.fp;
					margin: 0 0 6px;
					font-size: 21px;
					line-height: 1;
					a{
						color: @ch;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				time{
					font-size: 15px;
					&:before{
						.fi;
						content: '\e809';
						font-size: 18px;
						float: left;
						margin: 2px 7px 0 -1px;
					}
				}
			}
		}
	}
	nav{
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 100%;
		text-align: center;
		a{
			.border-radius(30px);
			.box-shadow(inset 0 0 6px fade(#000,30%));
			position: relative;
			height: 60px;
			line-height: 60px;
			padding: 0 30px;
			display: inline-block;
			font-weight: 400;
			font-size: 18px;
			min-width: 290px;
			background: #fff;
			&:before{
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 30px;
				width: 100%;
				background: #fff;
			}
			span{
				position: relative;
				z-index: 1;
				display: inline-block;
				text-decoration: underline;
				&:before{
					.fi;
					position: relative;
					z-index: 1;
					content: '\e801';
					color: @cl;
					float: left;
					font-size: 34px;
					margin: 0 15px 0 0;
				}
			}
			&:hover{
				span{
					text-decoration: none;
				}
			}
		}
	}
}