@media (max-width:2000px){
	.mod_custom-kandidati{
		.items{
			width: 1800px;
		}
	}
}
@media (max-width:1800px){
	.mod_custom-kandidati{
		.items{
			width: 1600px;
		}
	}
}
@media (max-width:1600px){
	.mod_custom-kandidati{
		.items{
			width: 1400px;
		}
	}
}
@media (max-width:1400px){
	.mod_custom-kandidati{
		.items{
			width: 1200px;
		}
	}
}
@media (max-width:1200px){
	.mod_custom-kandidati{
		.items{
			width: 1000px;
		}
	}
}
@media (max-width:1000px){
	.mod_custom-kandidati{
		.items{
			width: 800px;
		}
	}
}
