
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-right-circled2:before { content: '\e801'; } /* '' */
.icon-left-circled2:before { content: '\e802'; } /* '' */
.icon-up-circled2:before { content: '\e803'; } /* '' */
.icon-down-circled2:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-calendar-empty:before { content: '\e809'; } /* '' */