@font-face {
  font-family: 'zazdravemesto-fonts';
  src: url('../font/zazdravemesto-fonts.eot?65771646');
  src: url('../font/zazdravemesto-fonts.eot?65771646#iefix') format('embedded-opentype'),
       url('../font/zazdravemesto-fonts.woff?65771646') format('woff'),
       url('../font/zazdravemesto-fonts.ttf?65771646') format('truetype'),
       url('../font/zazdravemesto-fonts.svg?65771646#zazdravemesto-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zazdravemesto-fonts';
    src: url('../font/zazdravemesto-fonts.svg?65771646#zazdravemesto-fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zazdravemesto-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-right-circled2:before { content: '\e801'; } /* '' */
.icon-left-circled2:before { content: '\e802'; } /* '' */
.icon-up-circled2:before { content: '\e803'; } /* '' */
.icon-down-circled2:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-calendar-empty:before { content: '\e809'; } /* '' */